{% extends 'administration/layout.html' %}

{% block title %}
    {{ student.name }}
{% endblock title %}

{% block body %}

    <h3>Profile of {{ student }}</h3>

    <h4>House information:</h4>
    <ul>
        <li>House: {{ student_house }}</li>
        <li>Emblem: {{ student_house.emblem }}</li>
        <li>Common room: {{ student_house.homeroom }}</li>
        <li>Head: {{ student_house.head }}</li>
    </ul>

    <h4>List of enrolled subjects:</h4>
    <ul>
        {% for subject in student_subjects %}
            <li>{{ subject }}</li>
        {% endfor %}
    </ul>

    <h4>List of teachers to pick from:</h4>
    <ul>
        {% for teacher in unique_teachers %}
            <li>{{ teacher }}</li>
        {% endfor %}
    </ul>

    <h4>No teachers available to teach following subjects:</h4>
    <ul>
        {% for teacher in teacher_not_available %}
            <li>{{ teacher }}</li>
        {% empty %}
            <li>All good. You got teachers for everything!</li>
        {% endfor %}
    </ul>

    <a href="{% url 'administration:models' model_name='students' %}">Back to students</a>
{% endblock %}
