{% extends 'administration/layout.html' %}

{% block title %}
    {{ student.name }}
{% endblock title %}

{% block body %}

    <h3>Profile of {{ student }}</h3>

    <h4>House information:</h4>
    <ul>
        <li>House: {{ student_house }}</li>
        <li>Emblem: {{ student_house.emblem }}</li>
        <li>Common room: {{ student_house.homeroom }}</li>
        <li>Head: {{ student_house.head }}</li>
    </ul>

    <h4>List of enrolled subjects:</h4>
    <ul>
        {% for subject in student_subjects %}
            <li>{{ subject }}</li>
        {% endfor %}
    </ul>

    <h4>List of teachers to pick from:</h4>
    <ul>
        {% for teacher in unique_teachers %}
            <li>{{ teacher }}</li>
        {% endfor %}
    </ul>

    <h4>No teachers available to teach following subjects:</h4>
    <ul>
        {% for teacher in teacher_not_available %}
            <li>{{ teacher }}</li>
        {% empty %}
            <li>All good. You got teachers for everything!</li>
        {% endfor %}
    </ul>

    <h4>Enroll in new subject</h4>

    {% if not no_unregistered_subjects %}
        <form action="{% url 'administration:update_student' student_id=student.id %}" method="post">
            {% csrf_token %}
            <select name="new_subject">
                {% for subject in non_registered_subjects %}
                    <option value="{{ subject.id }}">{{ subject }}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
    {% else %}
        <p>Already enrolled in all subjects!</p>
    {% endif %}

    <a href="{% url 'administration:models' model_name='students' %}">Back to students</a>

{% endblock %}
