{% extends 'administration/layout.html' %}

{% block title %}
    School Management
{% endblock %}

{% block body %}

    <h3><a href="{% url 'administration:models' model_name='houses' %}">Houses</a></h3>
    <ul>
        {% for house in all_houses %}
            <li>{{ house }}</li>
        {% endfor %}
    </ul>

    <h3><a href="{% url 'administration:models' model_name='teachers' %}">Teachers</a></h3>
    <ul>
        {% for teacher in all_teachers %}
            <li>{{ teacher }}</li>
        {% endfor %}
    </ul>

    <h3><a href="{% url 'administration:models' model_name='subjects' %}">Subjects</a></h3>
    <ul>
        {% for subject in all_subjects %}
            <li>{{ subject }}</li>
        {% endfor %}
    </ul>

    <h3><a href="{% url 'administration:models' model_name='students' %}">Students</a></h3>
    <ul>
        {% for student in all_students %}
            <li>{{ student }}</li>
        {% empty %}
            <li>No students added</li>
        {% endfor %}
    </ul>

{% endblock %}
