body {
    background: url("images/hogwarts_logo.png") no-repeat;
    background-color:rgb(172, 230, 230);
    background-position: 1600px 60px;
    background-size: 320px 210px;
}

h3 {
    color: rgb(2, 2, 209);
    font-family:cursive;
}

h4 {
    color: rgb(194, 25, 194);
    font-family: cursive;
}

a {
    font-family: cursive;
}
a:link {
    color: rgb(41, 4, 252);
}
a:visited {
    color: rgb(17, 64, 167);
}
a:hover {
    color: rgb(64, 99, 12);
}
a:active {
    color: rgb(71, 231, 8);
}

ul > li {
    font-family: cursive;
}

.mynavbar > a > button {
    padding: 5px;
    font-family: cursive;
    font-style: italic;
    font-size: medium;
    background-color: rgb(168, 199, 207);
}
