body {
    background: url("images/hogwarts_logo.png") no-repeat;
    background-color:rgb(172, 230, 230);
    background-position: 1600px 60px;
    background-size: 320px 210px;
}

h3 {
    color: rgb(2, 2, 209);
    font-family:cursive;
}

h4 {
    color: rgb(194, 25, 194);
    font-family: cursive;
}

a {
    font-family: cursive;
}
a:link {
    color: rgb(41, 4, 252);
}
a:visited {
    color: rgb(17, 64, 167);
}
a:hover {
    color: rgb(64, 99, 12);
}
a:active {
    color: rgb(71, 231, 8);
}

ul > li {
    font-family: cursive;
}

.mynavbar {
    margin-bottom: 20px;
}

.mynavbar > a > button {
    padding: 5px;
    font-family: cursive;
    font-style: italic;
    font-size: medium;
    background-color: rgb(168, 199, 207);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.section_1 {
    grid-column: 1/4;
    grid-row: 1;
}
.section_2 {
    grid-column: 1/2;
    grid-row: 2;
}
.section_3 {
    grid-column: 2/3;
    grid-row: 2;
}
.section_4 {
    grid-column: 3/4;
    grid-row: 2;
}
